.place__remove-icon {
    background-image: url(../../../images/Trash.svg);
    height: 19.3px;
    width: 18px;
    border: none;
    cursor: pointer;
    transition: opacity .5s ease;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 18px;
    right: 15px;
    background-color: transparent;
    transition: opacity .5s ease;
}

.place__remove-icon:hover {
    outline: none;
    opacity: .5;
}